<form id="detailpage" action="/posts" method="post">
    <div class="pinfo text-center">.</div>
    <!-- 제목 입력 필드 -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-pencil"></i></span>
            </div>
            <input name="title" id="title" value="{{detailinfo.title}}" placeholder="제목" class="form-control" type="text" required>
        </div>
    </div>

    <div class="pinfo text-center"></div>

    <!-- 이름 입력 필드 -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input name="name" id="name" value="{{detailinfo.name}}" placeholder="이름" class="form-control" type="text" required>
        </div>
    </div>

    <!-- 방문일자 입력 필드 -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
            <input name="visit_date" id="visit_date" value="{{detailinfo.visit_date}}" type="text" class="form-control" placeholder="방문일자" required>
        </div>
    </div>

    <!-- 병원이름 입력 필드 -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-hospital"></i></span>
            </div>
            <input name="hospital_name" id="hospital_name" value="{{detailinfo.hospital_name}}" class="form-control" required>
                
                {% for hospital in hospitals %}
                    <option value="{{ hospital.yadmNm }}">{{ hospital.yadmNm }}</option>
                {% endfor %}
            
        </div>
    </div>

    <!-- 평점 선택 필드 -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-heart"></i></span>
            </div>
            <input class="form-control" id="rate" value="{{detailinfo.rate}}" name="rate" required>
            
            
        </div>
    </div>

    <div class="pinfo text-center">.</div>

    <!-- 리뷰 내용 입력 필드 -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-pencil"></i></span>
            </div>
            <textarea class="form-control" placeholder="리뷰를 작성해주세요." id="review" name="review" rows="3" required>{{detailinfo.review}}</textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block">확인</button>
</form>
</div>

<!-- 스크립트 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>