<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-between align-items-center">
            <h2> 병원 후기 </h2>
            <a href="/review/post">
              <button type="button" class="btn btn-primary">글쓰기</button>
          </a>
            </div>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th></th>
                    <th>제목</th>
                    <th>병원</th>
                    <th>작성자</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in datas %}
                    <tr>        
                      <td> <a href="/review/detail?id={{data.review_id}}">{{data.review_id}}</a></td>
                      <td>{{data.title}}</td>
                      <td>{{data.hospital_name}}</td>
                      <td>{{data.user_id}}</td>
                    </tr> 
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>