<div class="row">
    <div class="col-sm-6">
        <div class="centercontainer">
            <!-- 백그라운드 이미지 영역 -->
        </div>
    </div>

    <div class="col-sm-6">
        <div class="page_intro">
            <h1>페이지 "이름" 입니다</h1>
            <h3 style="margin-top: 40px;">페이지 소개 ㅁㄴㅇㄻㄻㄷ </h3>
            <h5 style="margin-top: 30px;">상세소개 ㅁㄴㅇㄻ니ㅏㅓ리ㅏ</h5>
        </div>
        <div class="itemcontainer">
            <div class="icon_group">
                <a href="/map" class="map_btn">
                    <button class="mybutton">
                        <p> 전국 병원위치 보기 </p>
                        <img src="/img/map_icon.jpg" alt="Map Icon" class="button-icon">
                    </button>
                </a>
                <a href="/search" class="map_btn">
                    <button class="mybutton">
                        <p> 병원 검색하기 </p>
                        <img src="/img/search.jpg" alt="Search Icon" class="button-icon">
                    </button>
                </a>
            </div>
            <div class="icon_group">
                <a href="/book" class="map_btn">
                    <button class="mybutton">
                        <p> 병원 예약하기 </p>
                        <img src="/img/reservation.jpg" alt="reservation Icon" class="button-icon">
                    </button>
                </a>
                <a href="/review" class="map_btn">
                    <button class="mybutton">
                        <p> 병원 후기 작성하기 </p>
                        <img src="/img/review.jpg" alt="Review Icon" class="button-icon">
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
